extends layout

block content
  h1= title
  p Välkommen till #{title}

  p Lista alla filmer - 
    a(href="/movies/create") Ny film
 
  each movie in movies 
    div 
      h2 
        a(href="/movies/" + movie.id) #{movie.title} 
        | (#{movie.release_year}) 
        if movie.genrelist 
          each genre, index in movie.genrelist 
            if movie.genrelist.length -1 === index
              | #{genre.genre} 
            else 
              | #{genre.genre}, 
        | #{movie.imdb_score}
      p #{movie.tagline}
      p Director: 
        a(href="/directors/" + movie.director_id) #{movie.director}