extends layout

block content
  main.container
    h1= title
    p Alla filmer
  
    each movie in movies 
      div 
        h2 
          a(href="/movies/" + movie.id) #{movie.title}
          |  (#{movie.release_year}) #{movie.genre_list && movie.genre_list.split(',').join(', ')} #{movie.imdb_score}
        p #{movie.tagline}
        p Regissör: 
          a(href="/directors/" + movie.director_id) #{movie.director}