extends layout

block head 
  -var title = 'Redigera film'
  title Filmdatabasen - #{title} - #{movie.title}

block content
  main.container
    .my-3.p-3.bg-body.rounded.shadow-sm
      h1.h5.border-bottom.pb-2.mb-0 Edit film 

      form.pt-3(action="/movies/" + movie.id, method="post") 
        .mb-3
          label.form-label(for="title") Filmens titel:  
          input.form-control(type="text", name="title" id="title" value=movie.title)
        .mb-3
          label.form-label(for="tagline") Filmens tagline:  
          input.form-control(type="text", name="tagline" id="tagline" value=movie.tagline)
        .mb-3
          label.form-label(for="director") Filmens regissör:
          input.form-control(type="text", name="director" id="director" value=movie.director)
        .mb-3
          label.form-label(for="year") Filmens genre(r), avgränsa med komma: 
          input.form-control(type="text" name="genres"  pattern="^[a-zA-Z- ,]+" value=movie.genre_list)
        .mb-3
          label.form-label(for="year") Året filmen släpptes:  
          input.form-control(type="text", name="year" id="year" value=movie.release_year)
        .mb-3
          label.form-label(for="imdb_score") IMDB poäng:  
          input.form-control(type="text", name="imdb_score" id="imdb_score" value=movie.imdb_score)
        .mb-3
          label.form-label(for="tmdb_id") 
            a(href="https://www.themoviedb.org/") TMDB 
            | film id (för bilder): 
          input.form-control(type="text", name="tmdb_id" id="tmdb_id" value=movie.tmdb_id)
        button.btn.btn-primary(type="submit") Redigera film