extends layout

block head 
  -var title = 'Filmer'
  title Filmdatabasen - #{title}

block content
  main.container
    //- .d-flex.align-items-center.p-3.my-3.text-white.bg-purple.rounded
    //-   h1.h5.mb-0.text-white.lh-1= title

    .my-3.p-3.bg-body.rounded.shadow-sm
      h1.h5.border-bottom.pb-2.mb-0 Alla filmer
      each movie in movies 
        .d-flex.text-muted.pt-3
          if movie.poster !== null 
            img.flex-shrink-0.me-2.rounded(src="/images/movies/posters" + movie.poster, alt="poster" width="92")
          else
            svg.bd-placeholder-img.flex-shrink-0.me-2.rounded(
              width="92"
              height="138"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              preserveAspectRatio="xMidYMid slice"
              focusable="false")
              title Placeholder
              rect(width="100%" height="100%" fill="#f8f9fa")
              text(x="50%" y="50%" fill="#6c757d" dy=".3em" dominant-baseline="middle" text-anchor="middle") #{movie.title}
          p.pb-3.mb-0.small.border-bottom.w-100
            strong.d-block.text-gray-dark
              a(href="/movies/" + movie.id) #{movie.title} 
              | (#{movie.release_year}) 
              | #{movie.genre_list && movie.genre_list.split(',').join(', ')} 
              svg.star(xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="#fd7e14" class="bi bi-star-fill" viewBox="0 0 16 16" alt="IMDB score") 
                path(d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z")
              |  #{movie.imdb_score} 
            | #{movie.tagline} 
            small.d-block Regissör: 
              a(href="/directors/" + movie.director_id) #{movie.director} 
      else 
        .d-flex.text-muted.pt-3
          p.pb-3.mb-0.small.lh-sm.border-bottom
            strong.d-block.text-gray-dark Tyvärr finns det inga filmer ännu
            a(href="/movies/create") Skapa en film