mixin nav-link(href, name)
  if name === title
    a.nav-link.active(href=href)= name
  else
    a.nav-link(href=href)= name

block nav 
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
      a.navbar-brand(href="/") Filmdatabasen
      button.navbar-toggler(
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation")
        span.navbar-toggler-icon 
      .collapse.navbar-collapse#navbar
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item 
            //- a.nav-link(href="/movies") Filmer 
            +nav-link('/movies', 'Filmer')
          li.nav-item 
            +nav-link('/movies/create', 'Ny film')
            //- a.nav-link(href="/movies/create") Ny film

//- aja vi nöjer oss så nu