block nav 
  nav.navbar.navbar-expand-lg.navbar-light
    .container
      a.navbar-brand(href="/") Filmdatabasen
      button.navbar-toggler(
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation")
        span.navbar-toggler-icon 
      .collapse.navbar-collapse#navbar
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item 
            a.nav-link(href="/movies") Filmer 
          li.nav-item 
            a.nav-link(href="/movies/create") Ny film

//- aja vi nöjer oss så nu